<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="sequenceDao" class="com.gbs.dao.impl.SequenceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDao" class="com.gbs.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="cityDao" class="com.gbs.dao.impl.CityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="funderDao" class="com.gbs.dao.impl.FunderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="applyInfoDao" class="com.gbs.dao.impl.ApplyInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="cityFunderDao" class="com.gbs.dao.impl.CityFunderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="configDao" class="com.gbs.dao.impl.ConfigDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 <bean id="individualInfoDao" class="com.gbs.dao.impl.IndividualInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="ecmInfoService" class="com.gbs.service.impl.ECMInfoServiceImpl"></bean>
	
	<bean id="gbsDCDecisionService_Service" class="com.ibm.rules.decisionservice.gbs_rule.gbs_dc.GBSDCDecisionService_Service"></bean>
</beans>