.login {
	width: 500px;
	margin-top: 13%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-image: url(/images/login.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 13px;
}
.tit {
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	background-image: url(/images/login_2.png);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: "ו";
}
.cont {
	background-image: url(/images/login2.png);
	background-repeat: repeat-y;
	background-position: left top;
	background-color: #FBFBFB;
}
.cont ul {
	margin: 0px;
	list-style-type: none;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 8px;
	background-image: url(/images/login2_2.png);
	background-repeat: repeat-y;
	background-position: right top;
}
.cont li {
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 65px;
}
.bot {
	background-image: url(/images/login3_2.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 52px;
	width: 100%;
}
.login .tit ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-image: url(/images/login.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 51px;
	list-style-type: none;
}
.login .tit li {
	background-image: url(/images/login_3.png);
	background-repeat: no-repeat;
	background-position: right top;
	width: 100%;
	height: 51px;
	line-height: 50px;
	text-indent: 10px;
}
.login .bot ul {
	background-image: url(/images/login3.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 100%;
	list-style-type: none;
}
.login .bot li {
	background-image: url(/images/login3_3.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 50px;
	width: 100%;
}.buttons{
	background-repeat: no-repeat;
	padding: 3px;
	background-image: url(/images/submit.png);
	background-position: left top;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 28px;
	width: 108px;
	font-size: 13px;
	color: #FFFFFF;
	cursor: pointer;
	margin: 5px;
}
